<h1> Hello world</h1>
<div>
  name <input type="text" name="name" id="name" [(ngModel)]="name"  > <br> <br>
  address<input type="text" name="addr" id="addr" [(ngModel)]="addr" > <br> <br>
  <input type="checkbox" name="hobbies" value="reading" [(ngModel)]="h1" (change)="getVal($event)">Reading
  <input type="checkbox" name="hobbies" value="biking" (change)="getVal($event)">Biking
  <input type="checkbox" name="hobbies" value="writing" (change)="getVal($event)">Writing
  <button type="submit" name="submit" id="sub" click="(changFlag)" >Submit</button>
</div>

{{fname}}
{{lname}}

<router-outlet></router-outlet>
